$bg-primary-color:rgb(255,255,255);
$bg-secundary-color:#f9f9f9;

$fc-primary:#6a6a6a;
$fc-secondary:#4a4a4a;
$fc-tertiary:#8c8c8c;

$fnt-ext-sm: 1.4rem;
$fnt-sm: 1.6rem;
$fnt-md: 2.4rem;
$fnt-lg: 3.2rem;
